<div class="card-body">
  <p class="card-text"><strong>Zona: </strong><%= walker.zone %></p>   
  <p class="card-text"><strong>Desde </strong><%= walker.start.strftime("%H:%M") %></p>
  <p class="card-text"><strong>Hasta </strong><%= walker.end.strftime("%H:%M") %></p>
  <p  class="card-text"><strong>Teléfono: </strong><%= walker.phoneNum %></p>
  <p  class="card-text"><strong>Correo: </strong><%= walker.email %></p>
</div>