<div class="container-fluid mt-4 px-2">
  <h2>Paseadores</h2>
  <hr>
  <% if user_signed_in? == false %>
    <%= link_to "Volver atras", root_path, class:"btn btn-outline-secondary px-3 mb-2"%>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to "Agregar paseador", new_walker_path, class:"btn btn-primary px-3 mb-2"%>
  <% end %>
  <% if flash[:alert].present? %>
    <div class="alert alert-danger">  
      <%= flash[:alert] %>
    </div>
  <% elsif flash[:notice].present? %>
    <div class="alert alert-success">  
      <%= flash[:notice] %>
    </div>
  <% end %>
  
<div class="my-3" id="walkers">
    <div class="row">
      <% if @walkers.present? %>
        <% @walkers.each do |walker| %>
          <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-2"><%= walker.name + ' ' + walker.surname %></h5>
                        <p class="card-text"><strong>Zona: </strong><%= walker.zone %></p>   
                        <p class="card-text"><strong>Trabaja desde </strong><%= walker.start.strftime("%H:%M") %><strong> hasta </strong><%= walker.end.strftime("%H:%M") %></p>
                        <p  class="card-text"><strong>Teléfono: </strong><%= walker.phoneNum %></p>
                        <p  class="card-text"><strong>Correo: </strong><%= walker.email %></p>                     
                    </div>
                    <div class = card-body>
                        <button class="btn btn-secondary d-inline-flex justify-content-center align-items-center" type="button" data-bs-toggle="modal" data-bs-target="#show_request"><%= link_to "SELECCIONAR", walker, class:"text-white text-decoration-none pe-2"%><i class="bi bi-plus-circle align-items-center mx-1"></i></button>
                    </div>
                </div>
            </div>
        <% end %>
      <% else %>
        <div class="col-12">
          <p>No hay paseadores cargados en la aplicación.</p>
        </div>
      <% end %>
    </div>
</div>   

