<div class="modal modal-sheet position-static d-block p-0 py-md-0 my-0" tabindex="-1" role="dialog" id="modalTour">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-body p-5">
        <h2 class="fw-bold mb-0 fs-3 text-center"> <%= @walker.name + ' ' + @walker.surname %> </h2>
        <div class="text-center my-3">
          <%= render @walker %>
        </div>
        <div class="row g-3 text-center pb-2">
          <div class="col-6">
            <%= link_to "Editar", edit_walker_path(@walker), class: "btn btn-lg btn-primary w-100"%>
          </div>
          <div class="col-6">
            <%= button_to "Eliminar", @walker, method: :delete, class: 'btn btn-lg btn-danger w-100', onclick: 'return confirm("¿Estás seguro de que deseas eliminar este paseador/a?")' %>
          </div>
          <div class="col-6">
              <%= link_to "Volver atras", walkers_path, class: "btn btn-lg btn-outline-secondary w-100 "%>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>
