<style>
  .form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -5px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>

<div class="d-flex align-items-center py-4 bg-body-tertiary">
  <div class="form-signin w-100 m-auto py-5"> 
    <%= form_for @user, url: update_user_registration_path(@user), method: :patch do |f| %>
      <h3 class=" d-flex text-wrap mb-3 fw-normal fs-5 justify-content-center">Elige tu contrase単a</h3>

     

      <div class="form-floating">
        <%= f.password_field  :password, autofocus: true, autocomplete: "new-password", class:"form-control", id:"floatingInput" %>
        <%= f.label :"Nueva contrase単a", for:"floatingInput"%>
      </div>
      <div class="form-floating">
        <%= f.password_field  :password_confirmation, autofocus: true, autocomplete: "new-password", class:"form-control", id:"floatingInput" %>
        <%= f.label :"Confirmar contrase単a", for:"floatingInput"%>
      </div>   

       <% if flash[:alert] %>
        <div class="alert alert-danger my-2 p-1 max-width-500">
          <%= flash[:alert] %>
        </div>
      <% end %>   

      <div class="actions my-2">
        <%= f.submit "Cambiar contrase単a", class:"btn btn-primary w-100 py-2 my-2", data: { turbo: false } %>
      </div>
    <% end %>
  </div>
</div>