<div class="card-body">
  <h5 class="card-title  text-center"><%= dog.name %></h5>
  <hr>
  <p class="card-text"><strong>Dueño/a: </strong><%= dog.user.surname %> <%= dog.user.name %></p>   
  <p class="card-text"><strong>Raza: </strong><%= dog.breed %></p>   
  <p  class="card-text"><strong>Sexo: </strong><%= dog.gender %></p>
  <p class="card-text"><strong>Fecha de nacimiento: </strong><%= dog.birthdate.strftime('%d/%m/%Y') %></p>