    <div class=""> 
      <div class="container">
        <div class="d-flex justify-content-center align-items-center mt-4">
          <div class="col-md-7 col-lg-8">
            <%= form_with(model: dog) do |form| %>
              <div class="row g-3">
                <div class="col-sm-6">
                  <%= form.label :Nombre, class:"form-label" %>
                  <%= form.text_field :name, autofocus: true, autocomplete: "name", class:"form-control", placeholder:"", value:"", required: "required"%>
                </div>

                <div class="col-sm-6">
                  <%= form.label :"Documento del dueño", class:"form-label" %>
                  <%= form.text_field :dni, autofocus: true, autocomplete: "dni", class:"form-control", placeholder:"", value:"", required: "required"%>
                </div>
                  
                <div class="col-sm-6">
                  <%= form.label :'Raza', class:"form-label" %>
                  <%= form.text_field :breed, autofocus: true, autocomplete: "breed", class:"form-control", placeholder:"", value:"", required: "required"%>
                </div>
                
                <div class="col-sm-6">
                  <%= form.label :Genero, class:"form-label" %>
                  <%= form.select :gender, options_for_select(['Hembra', 'Macho']), { prompt: "Seleccionar el genero" }, { class: 'form-select', required: 'required' } %>        
                </div>
                
                <div class="col-sm-6">
                  <%= form.label :'Fecha de nacimiento', class:"form-label" %>
                  <%= form.date_field :birthdate, class:"form-control form-control-inline"%>
                </div>
                <div class="col-sm-6">
                  <%= form.label :'Edad aproximada (meses)', class:"form-label" %>
                  <%= form.number_field :age, min:0, class:"form-control"%>
                  <p class="text-muted mt-1">En caso de no saber la fecha de nacimiento, puede agregar la edad aproximada.</p>
                </div>

                <hr class="my-2">

                <% if @dog.errors.any? %>
                <div class="alert alert-danger  w-100" role="alert">
                  <ul class="list-unstyled">
                    <% dog.errors.each do |error| %>
                      <li><%= error.full_message.split(" ")[1..].join(" ") %></li>
                    <% end %>
                  </ul>
                </div>
                <% end %>

                <div class="col-sm-6">
                  <%= form.submit "Cargar perro", class:"w-100 btn btn-primary" %>
                </div>

                <div class="col-sm-6">
                  <%= link_to "Volver atras", dogs_path, class: "btn btn-outline-secondary w-100"%>
                </div>
              </div>    
            <% end %>
          </div>
        </div>
      </div>
    </div>