<div id="<%= dom_id vacuna %>">
  <p>
    <strong>Fecha de vacunación:</strong>
    <%= vacuna.fechaAct %>
  </p>

  <p>
    <strong>Tipo de vacuna:</strong>
    <%= vacuna.tipoVacuna %>
  </p>

  <p>
    <strong>Peso:</strong>
    <%= vacuna.peso %>
  </p>

  <p>
    <strong>Enfermedad:</strong>
    <%= vacuna.enfermedad %>
  </p>

  <p>
    <strong>Dosis:</strong>
    <%= vacuna.dosis %>
  </p>

  <p>
    <strong>Medicacion:</strong>
    <%= vacuna.medicacion %>
  </p>

  <p>
    <strong>Próxima fecha:</strong>
    <%= vacuna.fechaProx %>
  </p>

</div>
