<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
          <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="sidebarMenuLabel">Menu</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
            </div>
            <nav class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 ">
              <ul class="nav flex-column" id="sidebarNav" data-bs-spy="scroll" data-bs-target="#sidebarNav">              
                <li class="nav-item">
                  <%= link_to dashboard_home_path, class:"nav-link d-flex align-items-center gap-2 text-dark" do %>
                      <i class="bi bi-house-fill"></i> Inicio
                  <% end %>
                </li>

                <% if current_user && current_user.admin? %>
                   <li class="nav-item">
                    <%= link_to requests_path, class:"nav-link d-flex align-items-center gap-2 text-dark" do %>
                        <i class="bi bi-calendar-plus"></i> Solicitud de turnos
                    <% end %>
                    <li class="nav-item">
                    <%= link_to confirmed_path, class:"nav-link d-flex align-items-center gap-2 text-dark" do %>
                        <i class="bi bi-calendar-check-fill"></i> Turnos confirmados
                    <% end %>
                    <li class="nav-item">
                    <%= link_to caregivers_path, class:"nav-link d-flex align-items-center gap-2 text-dark" do %>
                        <i class="bi bi-house-heart"></i></i> Cuidadores
                    <% end %>
                    <%= link_to walkers_path, class:"nav-link d-flex align-items-center gap-2 text-dark" do %>
                        <i class="bi bi-person-walking"></i> Paseadores
                    <% end %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to appointments_path, class:"nav-link d-flex align-items-center gap-2 text-dark" do %>
                        <i class="bi bi-calendar"></i> Turnos
                    <% end %>
                    <%= link_to index_user_caregiver_path, class:"nav-link d-flex align-items-center gap-2 text-dark" do %>
                        <i class="bi bi-house-heart"></i></i> Cuidadores
                    <% end %>
                    <%= link_to index_user_walker_path, class:"nav-link d-flex align-items-center gap-2 text-dark" do %>
                        <i class="bi bi-person-walking"></i> Paseadores
                    <% end %>
                  </li>
                <% end %>
                
                <li class="nav-item">
                  <%= link_to adoptions_path, class:"nav-link d-flex align-items-center gap-2 text-dark" do %>
                        <i class="bi bi-search-heart"></i> Adopción
                    <% end %>
                </li>

                <li class="nav-item">
                  <%= link_to missing_posts_path, class:"nav-link d-flex align-items-center gap-2 text-dark" do %>
                        <i class="bi bi-heartbreak-fill"></i> Perros perdidos
                  <% end %>
                </li>


                <li class="nav-item">
                  <%= link_to donations_path, class:"nav-link d-flex align-items-center gap-2 text-dark" do %>
                    <i class="bi bi-piggy-bank-fill"></i> Donaciones
                  <% end %>
                </li>

                <li class="nav-item">
                  <%= link_to dogs_path, class:"nav-link d-flex align-items-center gap-2 text-dark" do %>
                      <%= image_tag("dog-solid.svg", class: "example-icon") %> 
                      <% if current_user.admin?%>
                        Perros
                      <% else %>
                        Mis perros
                      <% end %>
                  <% end %>
                 </li>
                <% if current_user && current_user.admin? %>
                  <li class="nav-item">
                  <%= link_to registers_path, class:"nav-link d-flex align-items-center gap-2 text-dark" do %>
                      <i class="bi bi-people"></i> Clientes
                  <% end %>
                  </li>
                  <li class="nav-item">
                  <%= link_to admin_registers_path, class:"nav-link d-flex align-items-center gap-2 text-dark" do %>
                      <i class="bi bi-person-gear"></i> Administradores
                  <% end %>
                  </li>
              <% end %>
              </ul>
              <ul class="nav flex-column mt-auto">
                <li class="nav-item">
                  <%= link_to destroy_user_session_path, class:"nav-link d-flex align-items-center gap-2 text-dark",'data-turbo-method': :delete do %>
                    <i class="bi bi-door-closed"></i> Cerrar sesión
                  <% end %>
                </li> 
              </ul>
            </nav>
          </div>
        </div>