<div class="modal modal-sheet position-static d-block p-0 py-md-0 my-0" tabindex="-1" role="dialog" id="modalTour">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-body p-5">
        <h2 class="fw-bold mb-0 fs-3 text-center">BUSCA HOGAR:</h2>
        <div class="text-center my-3">
          <%= render @adoption %>
        </div>
        <div class="row g-3 text-center pb-2">
          <% if  current_user && (current_user.id == @adoption.user_id || current_user.role == 'admin')%>
            <% if !@adoption.finished %>
              <div class="col-6">
              <%= form_with(model: @adoption, url: confirm_adoption_path(@adoption), method: :patch) do |form| %>
                <%= form.hidden_field :finished, value: true %>
                <%= form.hidden_field :confirmed_at, value: Time.current %>
                <%= form.submit "Confirmar", class: "btn btn-lg btn-primary w-100" %> 
              <% end %>
              </div>
              <div class="col-6">
                <%= link_to "Editar", edit_adoption_path(@adoption), class: "btn btn-lg btn-primary w-100"%>
              </div>  
              <div class="col-6">
                <%= button_to "Eliminar", @adoption, method: :delete, class: 'btn btn-lg btn-danger w-100', onclick: 'return confirm("¿Estás seguro de que deseas eliminar esta adopción?")' %>
              </div>
            <% end %>
          <% else %>
            <div class="col-6">
            <% if !@adoption.finished %> 
              <%= link_to "Adoptar", solicitar_path(@adoption), class: "btn  btn-lg btn-primary w-100"%>
            <% end %>
            </div>  
          <% end %>
          <div class="col-6">
              <%= link_to "Volver atras", adoptions_path, class: "btn btn-lg btn-outline-secondary w-100 "%>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>
