<style>
  .form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>

<div class="d-flex align-items-center py-4 bg-body-tertiary">
  <div class="form-signin w-100 m-auto">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <!--<img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
      <h2 class="h3 mb-3 fw-normal">Inicio sesión</h2>

      <div class="form-floating">  
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"floatingInput", placeholder:"name@example.com" %>
        <%= f.label :"Correo electronico", for:"floatingInput"%>
      </div>
      <div class="form-floating">
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control", id:"floatingPassword", placeholder:"Password" %>
        <%= f.label :contraseña, for:"floatingPassword" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="form-check text-start my-3">
          <%= f.check_box :remember_me, class:"form-check-input", value:"remember-me", id:"flexCheckDefault"%>
          <%= f.label :"Recordar contraseña", class:"form-check-label", for:"flexCheckDefault" %>
        </div>
      <% end %>
        
      <div class="actions">
        <%= f.submit "Iniciar Sesion", class:"btn btn-primary w-100 py-2", data: { turbo: false } %>
      </div>

      <div class="text-start my-3">
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "¿Has olvidado tu contraseña?", new_password_path(resource_name), class:"recoverable-link", :style=>'text-decoration:none' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>