
<div class="container-fluid mt-4 px-2">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Historia clinica canina</h2>
    <%= link_to "Volver atras", dogs_path, class:"btn btn-secondary px-3" %>
  </div>
  <hr>
  
  <h3 class="fs-5"><strong>DATOS DEL PERRO</strong></h3>
  <%= @dog %>
  <strong>Nombre: </strong><%= @dogData.name %></p> 
  <strong>Raza: </strong><%= @dogData.breed %></p>   
  <strong>Sexo: </strong><%= @dogData.gender %></p>
  <strong>Fecha de nacimiento: </strong><%= @dogData.birthdate.strftime('%d/%m/%Y') %></p>

  <hr>

  <h3 class="fs-5 my-3"><strong>HISTORIAL CLINICO</strong></h3>
  <% if current_user.admin? %>
  <% age_in_months = (Date.today.year * 12 + Date.today.month) - (@dogData.birthdate.year * 12 + @dogData.birthdate.month) %>
  <%= link_to "Agregar consulta", new_vacuna_path(dog_id: @dogData.id, age: age_in_months), class: "btn btn-primary" %>
  <% end %>
  <%= link_to download_historia_clinica_path(@dogData.id, format: :pdf), class: "btn btn-primary" do %>
    <i class="bi bi-filetype-pdf"></i> Exportar pdf
  <% end %>

  <table class="mt-3" style="border-collapse: collapse; width: 100%;">
    <thead>
      <tr style="border: 1px solid #ddd; background-color: #f2f2f2;">
        <th style="border: 1px solid #ddd; padding: 8px; text-align: center;">Fecha de consulta</th>
        <th style="border: 1px solid #ddd; padding: 8px; text-align: center;">Tipo de consulta</th>
        <th style="border: 1px solid #ddd; padding: 8px; text-align: center;">Peso de <%= @dogData.name %></th>
        <th style="border: 1px solid #ddd; padding: 8px; text-align: center;">Descripcion de la consulta</th>
        <% if current_user.admin? %>
        <th style="border: 1px solid #ddd; padding: 8px; text-align: center;">Edición</th>
        <th style="border: 1px solid #ddd; padding: 8px; text-align: center;">Eliminación</th>
        <% end %>   
      </tr>
    </thead>
    <tbody>
      <% @vacunasDog.each do |vacuna| %> 
        <tr style="border: 1px solid #ddd;">
          <td style="border: 1px solid #ddd; padding: 8px; text-align: center;"><%= vacuna.fechaAct.strftime('%Y-%m-%d') %></td>
          <td style="border: 1px solid #ddd; padding: 8px; text-align: center;"><%= vacuna.tipoVacuna %></td>
          <td style="border: 1px solid #ddd; padding: 8px; text-align: center;"><%= vacuna.peso %>kg</td>
          <td style="border: 1px solid #ddd; padding: 8px; text-align: center;"><%= vacuna.description%></td>
          <% if current_user.admin? %>
            <td style="border: 1px solid #ddd; padding: 8px; text-align: center;"><%= link_to "Editar", edit2_vacuna_path(vacuna.id), class: "btn btn-warning px-3" %></td>
            <td style="border: 1px solid #ddd; padding: 8px; text-align: center;"><%= link_to "Eliminar", confirm_delete2_vacuna_path(vacuna.id), class: "btn btn-danger w-100" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>