<div class="modal modal-sheet position-static d-block p-3 py-md-4" tabindex="-1" role="dialog" id="modalTour">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-body px-5 py-4">
        <h2 class="fw-bold mb-0 fs-3 text-center">ACCIONES PARA EL TURNO</h2>
        <div class="text-center my-3">
          <%= render @appointment %>
        </div>
   
        <div class="row g-3 text-center pb-2">   
          <div class="col-12">     
            <% if @appointment.state != 3 %> <!-- NO PUEDE CONFIRMAR LOS MISMOS DE LA VETERINARIA-->
              <%= button_to "Confirmar turno", confirm_user_edit_path(@appointment), method: :patch, class: "btn btn-primary w-100" %>
            <% end %>
          </div>
          <div class="col-12">
            <% if @appointment.state != 2 %> <!-- NO PUEDE REPROGRAMAR EN REPROG-->
              <%= link_to "Reprogramar solicitud", edit_appointment_path(@appointment, source: "request"), class: "btn btn-outline-primary w-100"%>
            <% end %>
          </div>
          <div class="col-12">
              <%= link_to "Cancelar turno", confirm_cancel_appointment_path(@appointment, source: "cancel_from_request"), class: "btn btn-danger w-100" %> 
          </div>
          <div class="col-12"> 
            <%= link_to "Volver atras", requests_path, class: "btn btn-outline-secondary w-100 "%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


