<div class="card-body">
  <h2 class="card-title mb-2"><%= missing_post.name %></h2>
  <div class="mb-2">
  <p> </p>
  </div>
  <% if missing_post.image.attached? %>
    <%= image_tag(missing_post.image, size: '400x400') %>
  <% end %>  
  <% if missing_post.finished? %>
    <p class="card-text fs-5">¡ENCONTRADO!</p>
    <p class="card-text"><strong>Fecha de publicación: </strong><%= missing_post.created_at.strftime("%d/%m/%Y | %H:%M") %></p>
    <p class="card-text"><strong>Encontrado/a el dia </strong><%= missing_post.confirmed_at.strftime("%d/%m/%Y | %H:%M") %></p>
  <% else %>
    <p class="card-text fs-5"><%= missing_post.breed %></p>
    <p> </p>
    <div class="row">
        <div class="col">
            <p class="card-text"><strong>Sexo: </strong><%= missing_post.gender %></p>
        </div>
        <div class="col">
            <p class="card-text"><strong>Edad: </strong><%= missing_post.age %></p>
        </div>
        <div class="col">
            <p class="card-text"><strong>Tamaño: </strong><%= missing_post.size %></p>
        </div>
        <p> </p>
    </div>
    <p class="card-text"><strong>Se perdió por: </strong><%= missing_post.zone %> </p> 
    <p class="card-text"><strong>Información extra: </strong><%= missing_post.description %> </p>
    <p class="card-text"><strong>Fecha de publicación: </strong><%= missing_post.created_at.strftime("%d/%m/%Y | %H:%M") %></p>
  <% end %>
</div>


